
# Production Environment (GCP)
GCP_MYSQL_ROOT_PASSWORD=
GCP_MYSQL_USERNAME=
GCP_MYSQL_CONNECTION_STRING=


# Local Environment (Docker)
# MySQL latest image
# Create file (Dockerfile)
  FROM mysql:8.0

  # Copy the initialization script to the auto-run directory
  # MySQL automatically runs any .sql scripts found here during the first startup
  COPY sky_survey_db.sql /docker-entrypoint-initdb.d/

  # Create a database
  ENV MYSQL_DATABASE=sky_survey_db

  # Expose the default MySQL port
  EXPOSE 3306


  # Docker Setup

  ```bash
  docker build --no-cache -t skyforms-mysql .
  ```

  ## run image

  ```bash
  docker run -d \
    --name skyforms-db-container \
    -p 3306:3306 \
    --env-file .env \
    skyforms-mysql

  ```

  ## Stop & Remove Container

  ```bash
  docker stop skyforms-db-container
  docker rm skyforms-db-container
  ```

  ## Remove Image

  ```bash
  docker rmi skyforms-mysql
  ```

# Add .env file
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=sky_survey_db
MYSQL_CONNECTION_STRING=jdbc:mysql://127.0.0.1:3306


